html body {
  background-color: #00aced;
}

#home-title{
  margin-top: 3%;
  margin-left: 8%;
}

img{
  margin-top: 4%;
}

.twitter-icon{
  margin-left: 80%;
}

#search{
  margin-top: 13%;
}

.vol-ctr {
  display: flex;
  justify-content: space-around;
}

#favorite-icon{
  background-image: none;
}